@import url(http://db.onlinewebfonts.com/c/5e0837dfd600d3dfd5ccfb8ac6079dc5?family=Blender+Pro);


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  margin: 0;
  padding: 0;
  background: #000000;
  font-family: "Blender Pro", Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#controllers {
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  text-align: center;
  width: 100%;
  padding: 10px;
  width: auto;
  display: inline-block;
}

.button {
  border: none;
  background: white;
  color: black;
  padding: 8px 20px;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  margin: 5px;
  font-family: sans-serif;
  font-weight: bold;
}

.ui {
  z-index: 200;
  position: absolute;
  width: 100%;
}

.title {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  left: 5.3rem;
  top: 6rem;
  line-height: 3.2rem;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-out;
  will-change: opacity;
}
.title:hover {
  opacity: 1;
}

.title__job {
  font-size: 1.3rem;
}

.menu__trigger {
  transition: opacity 0.2s ease-out;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  text-align: right;
  position: absolute;
  opacity: 0.5;
  right: 5.3rem;
  top: 6rem;
  pointer-events: auto;
}
.menu__trigger:hover {
  opacity: 1;
}

#scroll__cta{
  position: absolute;
    left: 50%;
    bottom: 5vh;
    transform: translate(-50%);
    color: #fff;
    font-size: 4.5rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 2.5rem;
    animation: highlight 3s infinite;
    opacity: 1;
    display: block;
    text-align: center;
    z-index: 99;
}


@keyframes highlight {
  0% {
      color: #fff
  }

  50% {
      color: hsla(0,0%,100%,0)
  }

  to {
      color: #fff
  }
}



/* Content */

#content{
  position: fixed;
  width: 40%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Raleway';
  letter-spacing: 1.5px;
}

#content p{
  margin: 20px 0;
}

#content h2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}
#content ul{

}

#content ul li{

}